body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.login-form {
	width: 30%;
	margin: 150px auto;
	box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.7);
	padding: 20px;
}
.new-question-form {
	width: 30%;
	margin: 70px auto;
	box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.7);
	padding: 20px;
}
@media (max-width: 600px) {
	.login-form {
		width: 90%;
		margin: 50px auto;
	}
	.new-question-form {
		width: 90%;
		margin: 20px auto;
	}
}
@media (max-width: 900px) {
	.login-form {
		width: 70%;
		margin: 100px auto;
	}
	.new-question-form {
		width: 70%;
		margin: 70px auto;
	}
}
